'name': 'Literate code (Markdown)'
'scopeName': 'source.literate.gfm'
'fileTypes': [
  'w'
  'nw'
  'noweb'
]
'firstLineMatch': '^\\s*.*\\s*literate:\\s*syntax\\s*=\\s*(markdown|mdown|md)\\s*.*\\s*$'


'patterns': [
  { 'include': 'source.literate' }
  { 'include': 'source.gfm' }
]
