'name': 'Literate code (Markdown)'
'scopeName': 'source.gmf.literate'
'firstLineMatch': '^\\s*.*\\s*literate:(markdown|mdown|md).*\\s*$'
'fileTypes': [
  'w'
  'nw'
]


'patterns': [
  { 'include': 'source.literate' }
  { 'include': 'source.gmf' }
]
