'name': 'Literate code'
'scopeName': 'source.literate'
'fileTypes': [
  'w'
  'nw'
]



'firstLineMatch': '^\\s*.*\\s*literate:.*\\s*$'



'patterns': [
  {
    'begin': '^(<<(coffee-?(script)?):([^>]+)>>=)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.coffee.literate'
    'contentName': 'source.coffee'
    'patterns': [
      { 'include': 'source.coffee' }
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
    ]
  }
  {
    'begin': '^(<<(javascript|js):([^>]+)>>=)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.js.literate'
    'contentName': 'source.js'
    'patterns': [
      { 'include': 'source.js' }
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
    ]
  }
  {
    'begin': '^(<<(markdown|mdown|md):([^>]+)>>=)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.literate'
    'patterns': [
      { 'include': 'source.gmf' }
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
    ]
  }
  {
    'begin': '^(<<(json):([^>]+)>>=)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.json.literate'
    'contentName': 'source.json'
    'patterns': [
      { 'include': 'source.json' }
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
    ]
  }
  {
    'begin': '^(<<(css):([^>]+)>>=)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.css.literate'
    'contentName': 'source.css'
    'patterns': [
      { 'include': 'source.css' }
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
    ]
  }
  {
    'begin': '^(<<(less):([^>]+)>>=)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.less.literate'
    'contentName': 'source.css.less'
    'patterns': [
      { 'include': 'source.css.less' }
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
    ]
  }
  {
    'begin': '^(<<(xml):([^>]+)>>=)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.xml.literate'
    'contentName': 'text.xml'
    'patterns': [
      { 'include': 'text.xml' }
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
    ]
  }
  {
    'begin': '^(<<(ruby|rb):([^>]+)>>=)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.ruby.literate'
    'contentName': 'source.ruby'
    'patterns': [
      { 'include': 'source.ruby' }
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
    ]
  }
  {
    'begin': '^(<<(java):([^>]+)>>=)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.java.literate'
    'contentName': 'source.java'
    'patterns': [
      { 'include': 'source.java' }
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
    ]
  }
  {
    'begin': '^(<<(erlang):([^>]+)>>=)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.erlang.literate'
    'contentName': 'source.erlang'
    'patterns': [
      { 'include': 'source.erlang' }
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
    ]
  }
  {
    'begin': '^(<<(cs(harp)?):([^>]+)>>=)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.cs.literate'
    'contentName': 'source.cs'
    'patterns': [
      { 'include': 'source.cs' }
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
    ]
  }
  {
    'begin': '^(<<(php):([^>]+)>>=)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.php.literate'
    'contentName': 'source.php'
    'patterns': [
      { 'include': 'source.php' }
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
    ]
  }
  {
    'begin': '^(<<(sh|bash):([^>]+)>>=)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.shell.literate'
    'contentName': 'source.shell'
    'patterns': [
      { 'include': 'source.shell' }
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
    ]
  }
  {
    'begin': '^(<<(py(thon)?):([^>]+)>>=)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.python.literate'
    'contentName': 'source.python'
    'patterns': [
      { 'include': 'source.python' }
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
    ]
  }
  {
    'begin': '^(<<(c):([^>]+)>>=)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.c.literate'
    'contentName': 'source.c'
    'patterns': [
      { 'include': 'source.c' }
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
    ]
  }
  {
    'begin': '^(<<(c(pp|\\+\\+)):([^>]+)>>=)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.c++.literate'
    'contentName': 'source.c++'
    'patterns': [
      { 'include': 'source.c++' }
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
    ]
  }
  {
    'begin': '^(<<(objc|objective-c):([^>]+)>>=)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.objc.literate'
    'contentName': 'source.objc'
    'patterns': [
      { 'include': 'source.objc' }
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
    ]
  }
  {
    'begin': '^(<<(html):([^>]+)>>=)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.html.literate'
    'contentName': 'source.html.basic'
    'patterns': [
      { 'include': 'text.html.basic' }
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
    ]
  }
  {
    'begin': '^(<<(ya?ml):([^>]+)>>=)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.yaml.literate'
    'contentName': 'source.yaml'
    'patterns': [
      { 'include': 'source.yaml' }
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
    ]
  }
  {
    'begin': '^(<<(elixir):([^>]+)>>=)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.elixir.literate'
    'contentName': 'source.elixir'
    'patterns': [
      { 'include': 'source.elixir' }
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
    ]
  }
  {
    'begin': '^(<<([^>]+)>>=).*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
    'end': '^@\\s.*$'
    'name': 'markup.raw.literate'
    'contentName': 'source.raw'
    'patterns': [
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
    ]
  }
]


'repository': {
  'double_at': {
    'match': '^@@(\\s|$)'
    'name': 'keyword.control.literate'
  }
  'link1': {
    'match': '^\\s*<<([^:]+):([^>]+)>>\\s*$'
    'name': 'link'
    'captures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'markup.underline.link.literate'
  }
  'link2': {
    'match': '^\\s*<<([^>]+)>>\\s*$'
    'name': 'link'
    'captures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'markup.underline.link.literate'
  }
}
