'name': 'Literate code'
'scopeName': 'source.literate'
'fileTypes': [
  'w'
  'nw'
]
'patterns': [
  {
    'begin': '^(<<([^>]+)>>=)\\((coffee-?(script)?)\\)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.section.literate'
      '2':
        'name': 'entity.name.type.literate'
    'end': '^@(\\([^)]*\\))?\\s.*$'
    'name': 'markup.code.coffee.literate'
    'contentName': 'source.coffee'
    'patterns': [
      { 'include': 'source.coffee' }
      { 'include': '$self' }
    ]
  }
  {
    'begin': '^(<<([^>]+)>>=)\\((javascript|js)\\)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.section.literate'
      '2':
        'name': 'entity.name.type.literate'
    'end': '^@(\\([^)]*\\))?\\s.*$'
    'name': 'markup.code.js.literate'
    'contentName': 'source.js'
    'patterns': [
      { 'include': 'source.js' }
      { 'include': '$self' }
    ]
  }
  {
    'begin': '^(<<([^>]+)>>=)\\((markdown|mdown|md)\\)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.section.literate'
      '2':
        'name': 'entity.name.type.literate'
    'end': '^@(\\([^)]*\\))?\\s.*$'
    'name': 'markup.code.literate'
    'patterns': [
      { 'include': 'source.gmf' }
      { 'include': '$self' }
    ]
  }
  {
    'begin': '^(<<([^>]+)>>=)\\((json)\\)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.section.literate'
      '2':
        'name': 'entity.name.type.literate'
    'end': '^@(\\([^)]*\\))?\\s.*$'
    'name': 'markup.code.json.literate'
    'contentName': 'source.json'
    'patterns': [
      { 'include': 'source.json' }
      { 'include': '$self' }
    ]
  }
  {
    'begin': '^(<<([^>]+)>>=)\\((css)\\)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.section.literate'
      '2':
        'name': 'entity.name.type.literate'
    'end': '^@(\\([^)]*\\))?\\s.*$'
    'name': 'markup.code.css.literate'
    'contentName': 'source.css'
    'patterns': [
      { 'include': 'source.css' }
      { 'include': '$self' }
    ]
  }
  {
    'begin': '^(<<([^>]+)>>=)\\((less)\\)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.section.literate'
      '2':
        'name': 'entity.name.type.literate'
    'end': '^@(\\([^)]*\\))?\\s.*$'
    'name': 'markup.code.less.literate'
    'contentName': 'source.css.less'
    'patterns': [
      { 'include': 'source.css.less' }
      { 'include': '$self' }
    ]
  }
  {
    'begin': '^(<<([^>]+)>>=)\\((xml)\\)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.section.literate'
      '2':
        'name': 'entity.name.type.literate'
    'end': '^@(\\([^)]*\\))?\\s.*$'
    'name': 'markup.code.xml.literate'
    'contentName': 'text.xml'
    'patterns': [
      { 'include': 'text.xml' }
      { 'include': '$self' }
    ]
  }
  {
    'begin': '^(<<([^>]+)>>=)\\((ruby|rb)\\)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.section.literate'
      '2':
        'name': 'entity.name.type.literate'
    'end': '^@(\\([^)]*\\))?\\s.*$'
    'name': 'markup.code.ruby.literate'
    'contentName': 'source.ruby'
    'patterns': [
      { 'include': 'source.ruby' }
      { 'include': '$self' }
    ]
  }
  {
    'begin': '^(<<([^>]+)>>=)\\((java)\\)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.section.literate'
      '2':
        'name': 'entity.name.type.literate'
    'end': '^@(\\([^)]*\\))?\\s.*$'
    'name': 'markup.code.java.literate'
    'contentName': 'source.java'
    'patterns': [
      { 'include': 'source.java' }
      { 'include': '$self' }
    ]
  }
  {
    'begin': '^(<<([^>]+)>>=)\\((erlang)\\)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.section.literate'
      '2':
        'name': 'entity.name.type.literate'
    'end': '^@(\\([^)]*\\))?\\s.*$'
    'name': 'markup.code.erlang.literate'
    'contentName': 'source.erlang'
    'patterns': [
      { 'include': 'source.erlang' }
      { 'include': '$self' }
    ]
  }
  {
    'begin': '^(<<([^>]+)>>=)\\((cs(harp)?)\\)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.section.literate'
      '2':
        'name': 'entity.name.type.literate'
    'end': '^@(\\([^)]*\\))?\\s.*$'
    'name': 'markup.code.cs.literate'
    'contentName': 'source.cs'
    'patterns': [
      { 'include': 'source.cs' }
      { 'include': '$self' }
    ]
  }
  {
    'begin': '^(<<([^>]+)>>=)\\((php)\\)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.section.literate'
      '2':
        'name': 'entity.name.type.literate'
    'end': '^@(\\([^)]*\\))?\\s.*$'
    'name': 'markup.code.php.literate'
    'contentName': 'source.php'
    'patterns': [
      { 'include': 'source.php' }
      { 'include': '$self' }
    ]
  }
  {
    'begin': '^(<<([^>]+)>>=)\\((sh|bash)\\)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.section.literate'
      '2':
        'name': 'entity.name.type.literate'
    'end': '^@(\\([^)]*\\))?\\s.*$'
    'name': 'markup.code.shell.literate'
    'contentName': 'source.shell'
    'patterns': [
      { 'include': 'source.shell' }
      { 'include': '$self' }
    ]
  }
  {
    'begin': '^(<<([^>]+)>>=)\\((py(thon)?)\\)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.section.literate'
      '2':
        'name': 'entity.name.type.literate'
    'end': '^@(\\([^)]*\\))?\\s.*$'
    'name': 'markup.code.python.literate'
    'contentName': 'source.python'
    'patterns': [
      { 'include': 'source.python' }
      { 'include': '$self' }
    ]
  }
  {
    'begin': '^(<<([^>]+)>>=)\\((c)\\)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.section.literate'
      '2':
        'name': 'entity.name.type.literate'
    'end': '^@(\\([^)]*\\))?\\s.*$'
    'name': 'markup.code.c.literate'
    'contentName': 'source.c'
    'patterns': [
      { 'include': 'source.c' }
      { 'include': '$self' }
    ]
  }
  {
    'begin': '^(<<([^>]+)>>=)\\((c(pp|\\+\\+))\\)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.section.literate'
      '2':
        'name': 'entity.name.type.literate'
    'end': '^@(\\([^)]*\\))?\\s.*$'
    'name': 'markup.code.c++.literate'
    'contentName': 'source.c++'
    'patterns': [
      { 'include': 'source.c++' }
      { 'include': '$self' }
    ]
  }
  {
    'begin': '^(<<([^>]+)>>=)\\((objc|objective-c)\\)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.section.literate'
      '2':
        'name': 'entity.name.type.literate'
    'end': '^@(\\([^)]*\\))?\\s.*$'
    'name': 'markup.code.objc.literate'
    'contentName': 'source.objc'
    'patterns': [
      { 'include': 'source.objc' }
      { 'include': '$self' }
    ]
  }
  {
    'begin': '^(<<([^>]+)>>=)\\((html)\\)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.section.literate'
      '2':
        'name': 'entity.name.type.literate'
    'end': '^@(\\([^)]*\\))?\\s.*$'
    'name': 'markup.code.html.literate'
    'contentName': 'source.html.basic'
    'patterns': [
      { 'include': 'text.html.basic' }
      { 'include': '$self' }
    ]
  }
  {
    'begin': '^(<<([^>]+)>>=)\\((ya?ml)\\)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.section.literate'
      '2':
        'name': 'entity.name.type.literate'
    'end': '^@(\\([^)]*\\))?\\s.*$'
    'name': 'markup.code.yaml.literate'
    'contentName': 'source.yaml'
    'patterns': [
      { 'include': 'source.yaml' }
      { 'include': '$self' }
    ]
  }
  {
    'begin': '^(<<([^>]+)>>=)\\((elixir)\\)\\s*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.section.literate'
      '2':
        'name': 'entity.name.type.literate'
    'end': '^@(\\([^)]*\\))?\\s.*$'
    'name': 'markup.code.elixir.literate'
    'contentName': 'source.elixir'
    'patterns': [
      { 'include': 'source.elixir' }
      { 'include': '$self' }
    ]
  }
  {
    'begin': '^(<<([^>]+)>>=).*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
    'end': '^@(\\([^)]*\\))?\\s.*$'
    'name': 'markup.raw.literate'
  }



  {
    'begin': '^(@)\\((html)\\)\\s.*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.type.literate'
    'end': '^(<<([^>]+)>>=)'
    'name': 'markup.code.html.literate'
    'contentName': 'source.html.basic'
    'patterns': [
      { 'include': 'text.html.basic' }
      { 'include': '$self' }
    ]
  }
  {
    'begin': '^(@)\\((markdown|mdown|md)\\)\\s.*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'entity.name.type.literate'
    'end': '^(<<([^>]+)>>=)'
    'name': 'markup.code.html.literate'
    'contentName': 'source.html.basic'
    'patterns': [
      { 'include': 'source.gmf' }
      { 'include': '$self' }
    ]
  }
  {
    'begin': '^(@)\\s.*$'
    'beginCaptures':
      '0':
        'name': 'keyword.control.literate'
    'end': '^(<<([^>]+)>>=)'
    'name': 'markup.raw.literate'
  }



  {
    'match': '^@@(\\s|$)'
    'name': 'keyword.control.literate'
  }
  {
    'match': '^\\s*<<([^>]+)>>\\s*$'
    'name': 'link'
    'captures':
      '0':
        'name': 'keyword.control.literate'
      '1':
        'name': 'markup.underline.link.literate'
  }
]
