'name': 'Literate code'
'scopeName': 'source.literate'
'fileTypes': [
  'w'
  'nw'
  'noweb'
]
'firstLineMatch': '^\\s*.*\\s*literate:.*\\s*$'



'patterns': [
  {
    'begin': '^(<<(coffee-?(script)?):([^>]+)>>=)\\s*$'
    'beginCaptures':
      '0':
        'name': 'constant.language.lterat'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.coffee.literate'
    'contentName': 'source.coffee'
    'patterns': [
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
      { 'include': 'source.coffee' }
    ]
  }
  {
    'begin': '^<<(javascript|js):([^>]+)>>=\\s*$'
    'beginCaptures':
      '0':
        'name': 'constant.language.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.js.literate'
    'contentName': 'source.js'
    'patterns': [
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
      { 'include': 'source.js' }
    ]
  }
  {
    'begin': '^<<(markdown|mdown|md):([^>]+)>>=\\s*$'
    'beginCaptures':
      '0':
        'name': 'constant.language.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.literate'
    'patterns': [
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
      { 'include': 'source.gfm' }
    ]
  }
  {
    'begin': '^<<(json):([^>]+)>>=\\s*$'
    'beginCaptures':
      '0':
        'name': 'constant.language.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.json.literate'
    'contentName': 'source.json'
    'patterns': [
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
      { 'include': 'source.json' }
    ]
  }
  {
    'begin': '^<<(css):([^>]+)>>=\\s*$'
    'beginCaptures':
      '0':
        'name': 'constant.language.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.css.literate'
    'contentName': 'source.css'
    'patterns': [
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
      { 'include': 'source.css' }
    ]
  }
  {
    'begin': '^<<(less):([^>]+)>>=\\s*$'
    'beginCaptures':
      '0':
        'name': 'constant.language.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.less.literate'
    'contentName': 'source.css.less'
    'patterns': [
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
      { 'include': 'source.css.less' }
    ]
  }
  {
    'begin': '^<<(xml):([^>]+)>>=\\s*$'
    'beginCaptures':
      '0':
        'name': 'constant.language.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.xml.literate'
    'contentName': 'text.xml'
    'patterns': [
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
      { 'include': 'text.xml' }
    ]
  }
  {
    'begin': '^<<(ruby|rb):([^>]+)>>=\\s*$'
    'beginCaptures':
      '0':
        'name': 'constant.language.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.ruby.literate'
    'contentName': 'source.ruby'
    'patterns': [
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
      { 'include': 'source.ruby' }
    ]
  }
  {
    'begin': '^<<(java):([^>]+)>>=\\s*$'
    'beginCaptures':
      '0':
        'name': 'constant.language.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.java.literate'
    'contentName': 'source.java'
    'patterns': [
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
      { 'include': 'source.java' }
    ]
  }
  {
    'begin': '^<<(erlang):([^>]+)>>=\\s*$'
    'beginCaptures':
      '0':
        'name': 'constant.language.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.erlang.literate'
    'contentName': 'source.erlang'
    'patterns': [
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
      { 'include': 'source.erlang' }
    ]
  }
  {
    'begin': '^<<(cs(harp)?):([^>]+)>>=\\s*$'
    'beginCaptures':
      '0':
        'name': 'constant.language.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.cs.literate'
    'contentName': 'source.cs'
    'patterns': [
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
      { 'include': 'source.cs' }
    ]
  }
  {
    'begin': '^<<(php):([^>]+)>>=\\s*$'
    'beginCaptures':
      '0':
        'name': 'constant.language.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.php.literate'
    'contentName': 'source.php'
    'patterns': [
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
      { 'include': 'source.php' }
    ]
  }
  {
    'begin': '^<<(sh|bash):([^>]+)>>=\\s*$'
    'beginCaptures':
      '0':
        'name': 'constant.language.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.shell.literate'
    'contentName': 'source.shell'
    'patterns': [
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
      { 'include': 'source.shell' }
    ]
  }
  {
    'begin': '^<<(py(thon)?):([^>]+)>>=\\s*$'
    'beginCaptures':
      '0':
        'name': 'constant.language.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.python.literate'
    'contentName': 'source.python'
    'patterns': [
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
      { 'include': 'source.python' }
    ]
  }
  {
    'begin': '^<<(c):([^>]+)>>=\\s*$'
    'beginCaptures':
      '0':
        'name': 'constant.language.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.c.literate'
    'contentName': 'source.c'
    'patterns': [
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
      { 'include': 'source.c' }
    ]
  }
  {
    'begin': '^<<(c(pp|\\+\\+)):([^>]+)>>=\\s*$'
    'beginCaptures':
      '0':
        'name': 'constant.language.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.c++.literate'
    'contentName': 'source.cpp'
    'patterns': [
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
      { 'include': 'source.cpp' }

      # For backward-compatibility with Atom version < 0.166
      { 'include': 'source.c++' }
    ]
  }
  {
    'begin': '^<<(objc|objective-c):([^>]+)>>=\\s*$'
    'beginCaptures':
      '0':
        'name': 'constant.language.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.objc.literate'
    'contentName': 'source.objc'
    'patterns': [
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
      { 'include': 'source.objc' }
    ]
  }
  {
    'begin': '^<<(html):([^>]+)>>=\\s*$'
    'beginCaptures':
      '0':
        'name': 'constant.language.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.html.literate'
    'contentName': 'source.html.basic'
    'patterns': [
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
      { 'include': 'text.html.basic' }
    ]
  }
  {
    'begin': '^<<(ya?ml):([^>]+)>>=\\s*$'
    'beginCaptures':
      '0':
        'name': 'constant.language.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.yaml.literate'
    'contentName': 'source.yaml'
    'patterns': [
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
      { 'include': 'source.yaml' }
    ]
  }
  {
    'begin': '^<<(elixir):([^>]+)>>=\\s*$'
    'beginCaptures':
      '0':
        'name': 'constant.language.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.elixir.literate'
    'contentName': 'source.elixir'
    'patterns': [
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
      { 'include': 'source.elixir' }
    ]
  }
  {
    'begin': '^<<([^>]+)>>=\\s*$'
    'beginCaptures':
      '0':
        'name': 'constant.language.literate'
      '1':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.raw.literate'
    'contentName': 'source.raw'
    'patterns': [
      { 'include': '#double_at' }
      { 'include': '#link1' }
      { 'include': '#link2' }
    ]
  }
]


'repository': {
  'double_at': {
    'match': '^@@(\\s|$)'
    'name': 'constant.language.literate'
  }
  'link1': {
    'match': '^\\s*<<([^:]+):([^>]+)>>\\s*$'
    'name': 'link'
    'captures':
      '0':
        'name': 'constant.language.literate'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'markup.underline.link.literate'
  }
  'link2': {
    'match': '^\\s*<<([^>]+)>>\\s*$'
    'name': 'link'
    'captures':
      '0':
        'name': 'constant.language.literate'
      '1':
        'name': 'markup.underline.link.literate'
  }
  'section-declaration': {
    'match': '^<<([^>]+)>>=\\s*$'
    'name': 'link'
    'captures':
      '0':
        'name': 'invalid.illegal.section-declaration.literate'
  }
}
